<h1>Profile</h1>

	<h3><%= @user.fname %></h3>
	<h3><%= @user.lname %></h3>
	<h3><%= @user.email %></h3>
	<h3><%= @user.username %></h3>

<form action="/edit" method="GET">
<input type="submit" value="Edit User">
</form>

<form action="/profile" method="POST">
<input type="submit" value="Delete User">
</form>

<h3>Following</h3>

<h1> <%= @user.username %>'s Posts </h1>

<ol>
<% @user.posts.each do |post| %>
		<li> <%= post.body %> </li>
<%end%>
</ol>



